{% extends "layout.html" %}

{% block title %}
    Potfolio
{% endblock %}

{% block main %}
    <table align="center">
        <tr>
            <th align="center"> Symbol </th>
            <th align="center"> Shares </th>
            <th align="center"> Price </th>
            <th align="center"> Transacted </th>
        </tr>
        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
        </tr>
    </table>
{% endblock %}