{% extends "layout.html" %}

{% block title %}
    Potfolio
{% endblock %}

{% block main %}
    <table align="center">
        <tr>
            <th> Symbol </th>
            <th align="center"> Name </th>
            <th align="center"> Shares </th>
            <th align="center"> Price </th>
            <th align="center"> Total </th>
        </tr>
        <tr>
            <td> CASH </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> $10,000.00 </td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> $10,000.00 </td>
        </tr>
    </table>
{% endblock %}